.post.box.first
  .head.row
    .col-xs-12
      .pull-left= reply.title
      .pull-right= reply.created_at
  .main.row
    .col-xs-12
      .body-container
        .col-xs-4
          .content
            = reply.user.email
            = reply.user.created_at
        .col-xs-8.body-container
          .content
            = reply.body