.row.form
  .col-xs-12
    = form_for([@section, @post]) do |f|
      - if @post.errors.any?
        #error_explanation
          %h2
            = pluralize(@post.errors.count, "error")
            prohibited this post from being saved:
          %ul
            - @post.errors.full_messages.each do |msg|
              %li= msg

      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      .field
        = f.label :body
        = f.text_area :body, class: 'form-control'
      .actions
        = f.submit 'Submit', class: 'btn btn-default btn-blue'