%p#notice= notice

.post-list
  .post.box.first
    .head.row
      .col-xs-12
        .pull-left= @post.title
        .pull-right= @post.created_at
    .main.row
      .col-xs-12
        .body-container
          .col-xs-12.col-sm-4.col-md-4.col-lg-4
            .offset-column
              .col-xs-12
                = @post.user.email
              .visible-sm.col-xs-12
                = @post.user.created_at
          .col-xs-12.col-sm-8.col
            .content
              = @post.body

  .replies
    = render partial: 'replies/reply', collection: @replies

  = paginate @replies

.row
= render partial: 'replies/form'